{% extends 'base.html' %}
{% load static %}


{% block main %}
    <script defer src="{% static 'js/profileSettingsTogglePanel.js' %}"></script>
    <script defer src="{% static 'js/profileFormsHandler.js' %}"></script>

    <main id="main">
        <section class="profile_settings">

            <div id="change_name_panel" class="edit_panel">
                <i onclick="closePanel(event)" class="fas fa-times"></i>
                <h3 class="heading">
                    Change name
                </h3>



                <form  class="form" onsubmit="changeHandler(event, 'changeName')">

                    <p class="error_message">Error</p>

                    <div class="field_wrapper">
                        <label for="first_name">First Name:</label>
                        <input name="first_name" id="first_name" type="text" value="{{ first_name }}">
                    </div>

                    <div class="field_wrapper">
                        <label for="last_name">Last Name:</label>
                        <input name="last_name" type="text" id="last_name" value="{{ last_name }}">
                    </div>

                    <button id="saveName" class="btn">Save</button>

                </form>


            </div>

            <div id="change_email_panel" class="edit_panel">
                <i onclick="closePanel(event)" class="fas fa-times"></i>
                <h3 class="heading">
                    Change Email
                </h3>

                <form class="form" onsubmit="changeHandler(event, 'changeEmail')">
                    <p class="error_message"></p>

                    <div class="field_wrapper">
                        <label for="emailInput">New Email:</label>
                        <input name="email" id="emailInput" type="text">
                    </div>

                    <div class="field_wrapper">
                        <label for="passwordInput">Password:</label>
                        <input name="password" id="passwordInput" type="password">
                    </div>

                    <button name="email_form" id="saveEmail" class="btn">Save</button>

                </form>



            </div>

            <div id="change_password_panel" class="edit_panel">
                <i onclick="closePanel(event)" class="fas fa-times"></i>
                <h3 class="heading">
                    Change Password
                </h3>

                <form class="form" onsubmit="changeHandler(event, 'changePassword')">
                    <p class="error_message"></p>

                    <div class="field_wrapper">
                        <label for="oldPasswordInput">Old Password:</label>
                        <input name="old_password" id="oldPasswordInput" type="password">
                    </div>

                    <div class="field_wrapper">
                        <label for="newPasswordInput">New Password:</label>
                        <input name="new_password" id="newPasswordInput" type="password">
                    </div>

                    <div class="field_wrapper">
                        <label for="repeatPasswordInput">Repeat New Password:</label>
                        <input name="repeat_new_password" id="repeatPasswordInput" type="password">
                    </div>


                    <button id="savePassword" class="btn">Save</button>

                </form>


            </div>

            <div id="delete_profile_panel" class="edit_panel">
                <i onclick="closePanel(event)" class="fas fa-times"></i>
                <h3 class="heading">
                    Delete Profile
                </h3>
                <form method="post" action="{% url 'delete_profile' %}">
                    {% csrf_token %}
                    <button id="deleteProfileBtn" class="btn">Delete</button>
                </form>
            </div>


            <aside class="shorthand_nav">
                <ul role="list" class="profile_nav">
                    <li id="my_profile" class="list_item"><a href="{% url 'profile_navigator' %}">My Profile</a></li>
                    <li id="profile_settings" style="background-color: rgba(0, 113, 227, 0.3);" class="list_item"><a href="{% url 'profile_settings' %}">Profile Settings</a></li>
                    <li id="profile_addresses" class="list_item"><a href="{% url 'profile_addresses' %}">Addresses</a></li>
                    <li id="profile_orders" class="list_item"><a href="{% url 'list_orders' %}">Orders</a></li>
                    <li id="profile_logout" class="list_item"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </aside>

            <section class="settings">
                <div class="credentials">
                    <h2 class="heading">
                        Profile Data
                    </h2>
                    <ul role="list">
                        <li class="list_item">
                            <div class="data">
                                <i class="fas fa-user"></i>
                                <div class="field_wrapper">
                                    <p class="field_label">Name:</p>
                                    {% if first_name and last_name %}
                                        <p id="name_field" class="field">{{ first_name }} {{ last_name }}</p>
                                    {% else %}
                                        <p id="name_field" class="field">Not filled</p>
                                    {% endif %}
                                </div>
                            </div>
                            <button onclick="showNamePanel()" id="edit_name_btn" class="btn"><i class="far fa-edit"></i> Edit</button>
                        </li>
                        <li class="list_item">
                            <div class="data">
                                <i class="fas fa-envelope"></i>
                                <div class="field_wrapper">
                                    <p class="field_label">Email:</p>
                                    <span id="email_field" class="field">{{ email }}</span>
                                </div>
                            </div>
                            <button onclick="showEmailPanel()" id="edit_email_btn" class="btn"><i class="far fa-edit"></i> Edit</button>
                        </li>
                        <li class="list_item">
                            <div class="data">
                                <i class="fas fa-lock"></i>
                                <div class="field_wrapper">
                                    <p class="field_label">Password:</p>
                                    <p class="field">********</p>
                                </div>
                            </div>
                            <button onclick="showPasswordPanel()" id="change_password_btn" class="btn"><i class="far fa-edit"></i> Edit</button>
                        </li>
                    </ul>
                </div>
                <div class="profile_delete">
                    <h2 class="heading">
                        Delete Profile
                    </h2>
                    <div class="wrapper">
                        <p class="text">
                            Deletes the profile permanently
                        </p>
                        <button onclick="showDeletePanel()" id="deleteBtn" class="btn">Delete</button>
                    </div>

                </div>
            </section>
        </section>
    </main>

{% endblock %}