{% extends 'base.html' %}


{% block main %}

    <main id="main">
            <section class="profile">
                <a href="{% url 'profile_settings' %}" id="profile_settings" class="button_wrapper">
                    <div class="lable">
                        <i class="fas fa-user-cog"></i>
                        <p class="text">Profile Settings</p>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </a>

                <a href="{% url 'profile_addresses' %}" id="profile_addresses" class="button_wrapper">
                    <div class="lable">
                        <i class="fas fa-map-marked-alt"></i>
                        <p class="text">Addresses</p>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </a>

                <a href="{% url 'list_orders' %}" id="profile_orders" class="button_wrapper">
                    <div class="lable">
                        <i class="fas fa-box-open"></i>
                        <p class="text">Orders</p>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </a>

                <a href="{% url 'logout' %}" id="profile_logout" class="button_wrapper">
                    <div class="lable">
                        <i class="fas fa-sign-out-alt"></i>
                        <p class="text">Logout</p>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </section>
        </main>

{% endblock %}