{% extends 'base.html' %}
{% load static %}


{% block main %}
    <script defer src="{% static 'js/profileSettingsTogglePanel.js' %}"></script>
    <script defer src="{% static 'js/profileFormsHandler.js' %}"></script>

    <main id="main">
        <section class="profile_settings">

            <div id="edit_city_panel" class="edit_panel">
                <i onclick="closePanel(event)" class="fas fa-times"></i>
                <h3 class="heading">
                    Change City
                </h3>

                <form class="form" onsubmit="changeHandler(event, 'changeCity')">

                    <p class="error_message">Empty Field</p>
                    <div class="field_wrapper">
                        <label for="cityField">City:</label>
                        <input name="city" id="cityField" type="text" value="{{ city }}">
                    </div>

                    <button id="saveCity" class="btn">Save</button>

                </form>


            </div>

            <div id="edit_address_panel" class="edit_panel">
                <i onclick="closePanel(event)" class="fas fa-times"></i>
                <h3 class="heading">
                    Change Address
                </h3>

                <form class="form" onsubmit="changeHandler(event, 'changeAddress')">
                    <p class="error_message">Empty Field</p>
                    <div class="field_wrapper">
                        <label for="addressField">Address:</label>
                        <input name="address" id="addressField" type="text" value="{{ address }}">
                    </div>

                    <button id="saveAddress" class="btn">Save</button>
                </form>


            </div>

            <div id="edit_phone_number_panel" class="edit_panel">
                <i onclick="closePanel(event)" class="fas fa-times"></i>
                <h3 class="heading">
                    Change Phone Number
                </h3>

                <form class="form" onsubmit="changeHandler(event, 'changePhoneNumber')">

                    <p class="error_message">Empty Field</p>
                    <div class="field_wrapper">
                        <label for="phoneNumberField">Phone Number:</label>
                        <input name="phone_number" id="phoneNumberField" type="text" value="{{ phone_number }}">
                    </div>

                    <button id="savePhoneNumber" class="btn">Save</button>

                </form>


            </div>



            <aside class="shorthand_nav">
                <ul role="list" class="profile_nav">
                    <li id="my_profile" class="list_item"><a href="{% url 'profile_navigator' %}">My Profile</a></li>
                    <li id="profile_settings" class="list_item"><a href="{% url 'profile_settings' %}">Profile Settings</a></li>
                    <li id="profile_addresses" style="background-color: rgba(0, 113, 227, 0.3);" class="list_item"><a href="{% url 'profile_addresses' %}">Addresses</a></li>
                    <li id="profile_orders" class="list_item"><a>Orders</a></li>
                    <li id="profile_logout" class="list_item"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </aside>

            <section class="settings">
                <div class="credentials">
                    <h2 class="heading">
                        Addresses
                    </h2>
                    <ul role="list">
                        <li class="list_item">
                            <div class="data">
                                <i class="fas fa-city"></i>
                                <div class="field_wrapper">
                                    <p class="field_label">City:</p>
                                    {% if city %}
                                        <p id="city_field" class="field">{{ city }}</p>
                                    {% else %}
                                        <p id="city_field" class="field">Not filled</p>
                                    {% endif %}

                                </div>
                            </div>
                            <button onclick="showCityPanel()" id="edit_city_btn" class="btn"><i class="far fa-edit"></i> Edit</button>
                        </li>
                        <li class="list_item">
                            <div class="data">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="field_wrapper">
                                    <p class="field_label">Address:</p>
                                    {% if address %}
                                        <span id="address_field" class="field">{{ address }}</span>
                                    {% else %}
                                        <span id="address_field" class="field">Not filled</span>
                                    {% endif %}

                                </div>
                            </div>
                            <button onclick="showAddressPanel()" id="edit_address_btn" class="btn"><i class="far fa-edit"></i> Edit</button>
                        </li>
                        <li class="list_item">
                            <div class="data">
                                <i class="fas fa-mobile-alt"></i>
                                <div class="field_wrapper">
                                    <p class="field_label">Phone Number:</p>
                                    {% if phone_number %}
                                        <p id="phone_number_field" class="field">{{ phone_number }}</p>
                                    {% else %}
                                        <p id="phone_number_field" class="field">Not filled</p>
                                    {% endif %}

                                </div>
                            </div>
                            <button onclick="showPhoneNumberPanel()" id="edit_phone_number_btn" class="btn"><i class="far fa-edit"></i> Edit</button>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </main>

{% endblock %}