{% extends 'base.html' %}
{% load order_filters %}

{% block main %}

    <main class="orders_page" id="main">
        <section class="profile_settings">

            <aside class="shorthand_nav">
                <ul role="list" class="profile_nav">
                    <li id="my_profile" class="list_item"><a href="{% url 'profile_navigator' %}">My Profile</a></li>
                    <li id="profile_settings" class="list_item"><a href="{% url 'profile_settings' %}">Profile Settings</a></li>
                    <li id="profile_addresses" class="list_item"><a href="{% url 'profile_addresses' %}">Addresses</a></li>
                    <li id="profile_orders" style="background-color: rgba(0, 113, 227, 0.3);" class="list_item"><a href="{% url 'list_orders' %}">Orders</a></li>
                    <li id="profile_logout" class="list_item"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </aside>

            <section class="settings">
                <div class="credentials">
                    <h2 class="heading">
                        My Orders
                    </h2>
                    <ul id="order_wrapper" role="list">
                        {% for order in orders %}
                            <li id="listItem" class="list_item">
                                <div class="order_data">
                                    <div class="field_wrapper">
                                        <div class="field_label">
                                            <i class="fab fa-slack-hash"></i>
                                            <p>Order Number</p>
                                        </div>
                                        <div class="field_data" id="order_number">{{ order.order_number|get_full_price }}...</div>
                                    </div>
                                    <div class="field_wrapper">
                                        <div class="field_label">
                                            <i class="far fa-clock"></i>
                                            <p>Date</p>
                                        </div>
                                        <div id="order_date" class="field_data">{{ order.date }}</div>
                                    </div>
                                    <div class="field_wrapper">
                                        <div class="field_label">
                                            <i class="fas fa-money-bill-alt"></i>
                                            <p>Price</p>
                                        </div>
                                        <div id="prder_price" class="field_data">{{ order.price }}lv</div>
                                    </div>
                                </div>
                                <a href="{% url 'order_detail'  %}?order_uuid={{ order.order_number }}"><button id="viewBtn" class="btn"><i class="fas fa-eye"></i> View Order</button></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </section>
    </main>

{% endblock %}