<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../styles/syles.css" />
        <title>Ecommerce | Addresses</title>
    </head>
    <body>
        <script type="module" defer src="../../functionality/homePageFunc/homePageOnLoad.js"></script>
        <script type="module" defer src="../../functionality/profile/addresSettings/onLoad.js"></script>
        <script type="module" defer src="../../functionality/profile/addresSettings/buttonManagemant.js"></script>
        <script defer src="../../functionality/profile/mainProfileManages.js"></script>
        <header class="header">
            <div class="header_wrapper">
                <h1 class="logo"><a id="logo" href="/">MySite</a></h1>
                <ul role="list" class="wrapper">
                    <li class="list_item">
                        <a href="pages/auth/register.html"
                            ><i class="far fa-user"></i
                        ></a>
                    </li>
                    <li class="list_item disabled">
                        <a href=""><i class="far fa-heart"></i></a>
                    </li>
                    <li id="cardListItem" class="list_item disabled">
                        <a href=""><i class="fas fa-shopping-cart"></i></a>
                        <p id="cartItemsCount"></p>
                    </li>
                    <li id="headerPrice" class="list_item disabled">0.00</li>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </ul>
                
            </div>
            <ul role="list" class="wrapper mobile">
                <li class="list_item">
                    <a href="pages/auth/register.html"
                        >Profile</a>
                </li>
                <li class="list_item disabled">
                    <a href="">Favorites</a>
                </li>
            </ul>
        </header>

        <main id="main">
            <section class="profile_settings">

                <div id="edit_city_panel" class="edit_panel">
                    <i class="fas fa-times"></i>
                    <h3 class="heading">
                        Change City
                    </h3>
                    <p class="error_message">Empty Field</p>
                    <div class="field_wrapper">
                        <label for="cityField">City:</label>
                        <input id="cityField" type="text">
                    </div>

                    <button id="saveCity" class="btn">Save</button>
                </div>

                <div id="edit_address_panel" class="edit_panel">
                    <i class="fas fa-times"></i>
                    <h3 class="heading">
                        Change Address
                    </h3>
                    <p class="error_message">Empty Field</p>
                    <div class="field_wrapper">
                        <label for="addressField">Address:</label>
                        <input id="addressField" type="text">
                    </div>

                    <button id="saveAddress" class="btn">Save</button>
                </div>

                <div id="edit_phone_number_panel" class="edit_panel">
                    <i class="fas fa-times"></i>
                    <h3 class="heading">
                        Change Phone Number
                    </h3>
                    <p class="error_message">Empty Field</p>
                    <div class="field_wrapper">
                        <label for="phoneNumberField">Phone Number:</label>
                        <input id="phoneNumberField" type="text">
                    </div>

                    <button id="savePhoneNumber" class="btn">Save</button>
                </div>



                <aside class="shorthand_nav">
                    <ul role="list" class="profile_nav">
                        <li id="my_profile" class="list_item">My Profile</li>
                        <li id="profile_settings" class="list_item">Profile Settings</li>
                        <li id="profile_addresses" style="background-color: rgba(0, 113, 227, 0.3);" class="list_item">Addresses</li>
                        <li id="profile_orders" class="list_item">Orders</li>
                        <li id="profile_logout" class="list_item"><i class="fas fa-sign-out-alt"></i> Logout</li>
                    </ul>
                </aside>

                <section class="settings">
                    <div class="credentials">
                        <h2 class="heading">
                            Addresses
                        </h2>
                        <ul role="list">
                            <li class="list_item">
                                <div class="data">
                                    <i class="fas fa-city"></i>
                                    <div class="field_wrapper">
                                        <p class="field_label">City:</p>
                                        <p id="city_field" class="field">Not filled</p>
                                    </div>
                                </div>
                                <button id="edit_city_btn" class="btn"><i class="far fa-edit"></i> Edit</button>
                            </li>
                            <li class="list_item">
                                <div class="data">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <div class="field_wrapper">
                                        <p class="field_label">Address:</p>
                                        <span id="address_field" class="field">Not filled</span>
                                    </div>
                                </div>
                                <button id="edit_address_btn" class="btn"><i class="far fa-edit"></i> Edit</button>
                            </li>
                            <li class="list_item">
                                <div class="data">
                                    <i class="fas fa-mobile-alt"></i>
                                    <div class="field_wrapper">
                                        <p class="field_label">Phone Number:</p>
                                        <p id="phone_number_field" class="field">Not filled</p>
                                    </div>
                                </div>
                                <button id="edit_phone_number_btn" class="btn"><i class="far fa-edit"></i> Edit</button>
                            </li>
                        </ul>
                    </div>
                </section>
            </section>
            
           
        </main>

        <footer class="footer">
            <div class="wrapper">
                <p class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem
                    facere beatae incidunt rem rerum quos quo temporibus enim
                    dolorem veniam?
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
                    dignissimos eius rerum deleniti expedita veniam eaque, tenetur
                    placeat totam. Eveniet.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Exercitationem nostrum, nesciunt qui ipsa non officia! Quam
                    tempore nihil rerum quos!
                </p>
            </div>
            
        </footer>
        
    </body>
</html>