{% extends 'base.html' %}
{% load static %}
{% load product_tags %}


{% block main %}
    <script defer src="{% static 'js/addToFavoritesHandler.js' %}"></script>
    <main class="product_page" id="main">
        <div class="wrapper">
            <img src="{{ product.image }}" id="rpoductImage" alt="" class="image">
            <section class="info_section">
                <h1 id="productName" class="heading"></h1>
                <div class="additional">
                    <p class="brant label">Brand:</p>
                    <p id="productBrand" class="brand">{{ product.brand }}</p>
                    <p class="category label">Category:</p>
                    <p id="productCategory" class="category">{{ product.category.name }}</p>
                    <p class="made_in label">Made in:</p>
                    <p id="productMadeIn" class="made_in">{{ product.made_in }}</p>
                </div>
                <div class="delivery_info">
                    <div class="type_delivery">
                        {% if product.quantity %}
                            <div id="inStockWrapper" class="green in_stock">
                                <i id="inStockIcon" class="fas fa-check"></i>
                                <p>In Stock</p>
                            </div>
                        {% else %}
                            <div id="inStockWrapper" class="red in_stock">
                                <i id="inStockIcon" class="fas fa-times"></i>
                                <p>In Stock</p>
                            </div>
                        {% endif %}
                        <div class="speed_delivery">
                            <i class="fas fa-shipping-fast"></i>
                            <p>Fast Delivery</p>
                        </div>
                        <div class="normal_delivery">
                            <i class="fas fa-truck"></i>
                            <p>Standart Delivery</p>
                        </div>
                    </div>
                    <div class="date_to_delivery">
                        <p>You may have it:</p>
                        <p>on <span id="fast_date" class="colored">{{ date_after_two_days }}</span></p>
                        <p>from <span id="normal_date1" class="colored">{{ date_after_two_days }}</span> to <span id="normal_date2" class="colored">{{ date_after_four_days }}</span></p>
                    </div>
                </div>
                <p class="addition_delivery_description">
                    * The delivery date is approximate and depends on the place of residence and the chosen courier company. You can find out the exact date on which the product will be with you, as well as the final delivery price, when completing the order.
                </p>
                <h3 class="product_description_label">Product Description</h3>
                <p id="productDescription" class="product_description">{{ product.description }}</p>
                </p>
            </section>
            <section class="price_section">
                <div id="price_wrapper">
                    <span id="priceDesign" class="price">
                        <span id="bigPrice" class="whole">32</span>
                        <span id="smallPrice" class="cents">59
                        </span>
                        <span class="currency">
                            lv.
                        </span>
                    </span>
                    <div class="price_security">
                        <i class="fas fa-shield-alt"></i>
                        <p>Price Protection</p>
                    </div>
                    <p class="price_desc">
                        The price includes VAT.
                    </p>
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <button {% if not product.quantity  %} disabled {% endif %} id="buyBtn" class="btn buy_btn">
                            <i class="fas fa-shopping-cart"></i>
                            Buy
                        </button>
                    </form>

                </div>
                <div class="add_to">
                    {% if user.is_authenticated and product|is_in_favorites:user %}
                        <div onclick="addToFavorites(event, {{ product.id }})" class="add_to_favorites">
                            <i id="icon" class="fas fa-heart"></i>
                            <p>Add to favorites</p>
                        </div>
                    {% else %}
                        <div onclick="addToFavorites(event, {{ product.id }})" class="add_to_favorites">
                            <i id="icon" class="far fa-heart"></i>
                            <p>Add to favorites</p>
                        </div>
                    {% endif %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}