{% extends 'base.html' %}

{% block main %}
    <main class="index_page" id="main">
        <section class="products_wrapper">
            {% for product in products %}
                <div class="product">
                    <img src="{{ product.image }}" alt="" class="image">
                    <div class="data_section">
                        <div class="text_container">
                            <h3 class="heading">{{ product.name }}</h3>
                            <p class="price">{{ product.price }}</p>
                        </div>
                        <i id="icon" class="far fa-heart"></i>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const containers = Array.from(document.querySelectorAll('.product'));
            for (const container of containers) {
                container.addEventListener('click', function() {
                    window.location.href = '{% url 'ProductDetails' 1 %}';
                });
            }

        });
</script>
{% endblock %}