{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
        <title>Ecommerce</title>
    </head>
    <body>
        <script>
            const BASE_URL = 'http://127.0.0.1:8000/';
            const CSRF_TOKEN = '{{ csrf_token }}';
        </script>
        <header class="header">
            <div class="header_wrapper">
                <h1 class="logo"><a id="logo" href="{% url 'index' %}">MySite</a></h1>
                <ul role="list" class="wrapper">
                    {% if user.is_authenticated %}
                        <li class="list_item">
                            <a href="{% url 'profile_navigator' %}"
                                ><i class="far fa-user"></i
                            ></a>
                        </li>

                        <li class="list_item">
                            <a href="{% url 'get_favourite_products' %}"><i class="far fa-heart"></i></a>
                        </li>
                        <li id="cardListItem" class="list_item">
                            <a href="{% url 'show_cart' %}"><i class="fas fa-shopping-cart"></i></a>
                            {% if cart_products_count != 0 %}
                                <p id="cartItemsCount">{{ cart_products_count }}</p>
                            {% endif %}
                        </li>
                        <li id="headerPrice" class="list_item">{{ overall_products_price|floatformat:2 }}</li>
                        <div class="navbar__toggle" id="mobile-menu">
                            <span class="bar"></span> <span class="bar"></span>
                            <span class="bar"></span>
                        </div>

                    {% else %}
                        <li class="list_item">
                            <a href="{% url 'register' %}"
                                ><i class="far fa-user"></i
                            ></a>
                        </li>
                    {% endif %}
                </ul>

            </div>
            <ul role="list" class="wrapper mobile">
                <li class="list_item">
                    <a href=""
                        >Profile</a>
                </li>
                <li class="list_item disabled">
                    <a href="">Favorites</a>
                </li>
            </ul>
        </header>

        {% block main %}

        {% endblock %}

        <footer class="footer">
            <div class="wrapper">
                <p class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem
                    facere beatae incidunt rem rerum quos quo temporibus enim
                    dolorem veniam?
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
                    dignissimos eius rerum deleniti expedita veniam eaque, tenetur
                    placeat totam. Eveniet.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Exercitationem nostrum, nesciunt qui ipsa non officia! Quam
                    tempore nihil rerum quos!
                </p>
            </div>

        </footer>
    </body>
</html>