{% extends 'base.html' %}


{% block main %}

    <main id="main">
        <section class="authentication">
            <div class="authentication_wrapper">
                <h1>Register</h1>
                <form method="post" action="{% url 'register' %}" class="form">

                    {% if form.errors %}
                        {% for field_errors in form.errors.values %}
                            {% for error in field_errors %}
                                <p id="error_messages">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}


                    {{ form.email.label_tag }}
                    {{ form.email }}

                    {{ form.password1.label_tag }}
                    {{ form.password1 }}

                    {{ form.password2.label_tag }}
                    {{ form.password2 }}

                    {% csrf_token %}

                    <button id="register_btn" class="authentication_btn">
                        Register
                    </button>


                    <p class="login_message">
                        Already have an account?
                        <a href="{% url 'login' %}">Login</a>
                        here.
                    </p>
                </form>
            </div>
        </section>
    </main>

{% endblock %}